// Heading Color
$heading-color: #000000;

// Text Color
$text-color: #eb1414;

// Default Background
$bg-default: #40ba37;

// Gray Background
$bg-gray: #0f0f0f;

// White Color
$white-color: #100f0f;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #1c8314;

// Hover Color
$hover-color: #40ba37;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #040404;

// Text Color
$text-color2: #090909;