{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'partials/_head.html' %}

    <title>Canes Grill - {% block titulo %} {% endblock %}</title>

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    <!-- Search Wrapper -->
    
    {% include 'partials/_search.html' %}

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        
        {% include 'partials/_top.html' %}

        <!-- Navbar Area -->

        {% include 'partials/_nav.html' %}

    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">

        {% include 'partials/_alertas.html' %}

        {% block conteudo %} 
        
        {% endblock %}

    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- PAGINATOR -->
    {% include 'partials/_paginator.html' %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        
        {% include 'partials/_footer.html' %}

    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>